$primary-color: #99b0a7;
$secondary-color: #aec2b9;
$background-color: #fffafa46;

$primary-dark: #1e1e1e;
$primary-light: #fff;

$primary-grey-drk: #2f2f2f;
$primary-grey-lt: #a1a1a1;

$tertiary-color: #74b79d;

